.navbar {
    background-color: #754F41 !important;
}
.navbar .navbar-brand {
    color: #F6F6FF !important;
    font-size: 30px;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #F6F6FF;
    font-size: 25px;
}

body, html {
    height: 100%;
    font-family: "Calibri Light", sans-serif;
  }

.jumbotron-special {
    background-color: #F6F5FF;
}

.jumbotron-opacity {
    background: rgba(255, 255, 255, 0.8);
 }

p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 150px;
}